<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- title -->
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- description-->
  <meta name="description" content="{{ site.description }}">

  <!-- icon --> 
  <link rel="icon" href="/assets/images/solusyus.jpg">

  <!-- css -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- javascript -->
  <script src="/assets/js/script.js" defer></script>

  <!-- Tippy.js CSS -->
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <!-- Popper (required by Tippy) + Tippy.js -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <!-- MathJax -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
  <!-- Highlight.js Theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@catppuccin/highlightjs@1.0.1/css/catppuccin-latte.css"></head>
</head>
