.tippy-box[data-theme~='my-tooltip'] {
  background-color: #4f4f4f;
  color: #ffffff;
  font-family: ebgaramond;
  font-size: 0.8rem;
  padding: 0;
  border-radius: .25rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
  max-width: 60vw;
  margin-left: 0;
  margin-right: 0;
}

.tippy-box[data-theme~='my-tooltip'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #4f4f4f;
}

.tippy-box[data-theme~='my-tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #4f4f4f;
}

.tooltip {
  text-decoration: dotted underline #1e66f5;
}
