#title {
  padding: 0;
  margin: 0 0 0 4vw;
  cursor: pointer;
  color: #1e66f5;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'DMSans';
  src: url('/assets/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Example usage */
body {
  font-family: 'DMSans', sans-serif;
}
